<h1> Edit <%= @product.name %> Product </h1>
<!-- now a patch request, not post -->
<%= form_tag "/products/#{@product.id}", method: :patch do %>

    <div>
        Name: <input type= "text" name="name" value="<%= @product.name %>">
    </div>
    <div>
        Price: <input type= "float" name="price" value="<%= @product.price %>">
    </div> 
        
    <div>
        Image URL: <input type="text" name="image" value="<%= @product.image %>">
    </div>

    <div>
        Description: <input type="text" name="description" value="<%= @product.description %>">
    </div>
    <div>
        In Stock <input type="checkbox" checked data-toggle="toggle" name="in_stock" value="true">
    </div>
    <input type="submit" value="Submit">
<% end %>