<div class="row">
    <% @products.each do |product| %>
    <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= product.image%>" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><%=product.name %></h4>
            <p class="card-text"><%= product.description %>
            <br>
            Price:<%= product.price %> </p>
            <a href="/products/<%=product.id %>" class="btn btn-primary">Product page</a>
          </div>
        </div>
    </div>
    <% end %>
</div>





