<section>
    <div class="row">
        <div class="col-sm-8">
            <div class="product_single">
                <% @product.images.each do |image| %>
                    <img class="card-img-top" src="<%= image.url %>" alt="Card image cap">
                <% end %>
                <h2>Name: <%= @product.name %></h2>
                <h7>Vendor: <%= @product.supplier.name %></h7>

                <%if @product.discounted? %>
                    <h4 class="discount-item">Discount item!</h4>
                    <p>Price: <%= number_to_currency(@product.price) %></p>
                <% else %>
                    <h4>Everyday Value!</h4>
                    <h3>Price: <%= number_to_currency(@product.price) %></h3>
                <% end %>
                
                <h6>Tax: <%= number_to_currency(@product.tax) %></h6>
                <h6>Total: <%= number_to_currency(@product.total) %></h6>
                <h4>Description: <%= @product.description %></h4>
                <h4>In Stock: <%= @product.in_stock %></h4>


                <%= form_tag "/products/#{@product.id}", method: :delete do%>
                    <input type="submit" value="Delete Product">
                <a href="/products/" class="btn btn-primary">All Products</a>
                <% end %>
                <%= link_to "Add image", "/products/#{@product.id}/images/new", class: "btn btn-info" %>
            </div>
        </div>
    </div>
</section>