<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- updated nav link to sort the products by price. linked to products_controller.rb index method -->
          <a class="nav-link" href="/products?sort=price">Sort by Price Low</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products?sort=price desc">Sort by Price High</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="products?price=5">Discount items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="products?show=">Random Product</a>
        </li>
      </ul>
      <%= form_tag "/search", method: :post do %>
         <%= text_field_tag :search %>
         <%= submit_tag "Search" %>
      <% end %>

    </div>
    </nav>
    <% flash.each do |name, message| %>
       <div class="alert alert-<%=name%> alert-dismissible fade show" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <%= message %>
       </div>
    <% end %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
