<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/products">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if current_user && current_user.admin %>
          <li class="nav-item active"><%= link_to "Add New Product", "products/new", class: "btn btn-default" %></li>
        <% end %>
        <% if current_user%>
        <li class="nav-item active">
          <!-- updated nav link to sort the products by price. linked to products_controller.rb index method -->
          <a class="nav-link" href="/products?sort=price">Price Low</a> 
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/products?sort=price desc">Price High</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link disabled" href="products?discount=">Discount items</a>
        </li>
       <!--  This link just goes to show. It doesn't call anything specific. The products_controller than chooses a random product and limits it to one in order to display a random product. -->
        <li class="nav-item active">
          <a class="nav-link disabled" href="products?show=">Random Product</a>
        </li>
        <!-- added method to application controller so the cart count would show on all pages -->
        <li class="nav-item active">
           <a class="nav-link disabled" href="/cart">Carted Products - <%= @cart_count%></a>
        </li>
       
        
          <!-- This cycles through all know categories and then sets the category as a param. The param is then used in the products_controller to call all products associated with that category. -->
          <% Category.all.each do |category| %>
             <li class="nav-item active"><a class="nav-link disabled" href="/products?category=<%= category.title %>"><%= category.title %></a></li>
        <% end %>
        <li class="nav-item active">
          <a class="nav-link disabled" href="/logout">Logout</a>
        </li>
        <% else %>
          <li class="nav-item active">
            <a class="nav-link disabled" href="/signup">Sign Up</a>
          </li> 
          <li class="nav-item active">
            <a class="nav-link disabled" href="/login">Login</a>
          </li> 

        <% end %>

        

      </ul>
      <%= form_tag "/search", method: :post do %>
         <%= text_field_tag :search %>
         <%= submit_tag "Search" %>
      <% end %>



    </div>
    </nav>
    <% flash.each do |name, message| %>
       <div class="alert alert-<%=name%> alert-dismissible fade show" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <%= message %>
       </div>
    <% end %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
